page-recordingvideo {
  .toolbar-ios .segment-button{
    max-width: none;
  }
  .segmentOne,.segmentTwo,.segmentThree{
    background-color: rgba(153, 153, 153, 0.5);
  }
  .col-right{
    text-align: right;
    padding-right: 20px;
  }
  ion-list.list{
    padding: 20px;
    ion-item.item{
      h2{
        position: absolute;
        top: 5px;
        left: 15px;
      };
      margin-bottom:20px;
      padding: 20px 10px;
      box-shadow:0 0 1px #000 inset;
      position: relative;
    }
  }
}
