<ion-header>
    <button style="position: absolute;z-index: 12;right: 2rem;top: 1rem;padding: 1rem;border-radius: 3.5rem;" (click)="search()">搜索</button>
    <!--<ion-navbar>
    <ion-searchbar (click)="search()" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>-->
    <!-- <ion-navbar>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="搜索老师/课程">
        </ion-searchbar>
    </ion-navbar> -->
    <div>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="搜索老师/课程">
        </ion-searchbar>
    </div>
    <ion-list *ngIf="inpustring!=''">
        <ion-item *ngFor="let item of items" (click)="search()">
            {{ item.cname}}
        </ion-item>
    </ion-list>
</ion-header>
<div style="position: fixed;z-index: 15;width: 100%;height: 100%;text-align: center;background-color: #fff;padding: 15px;" *ngIf="pagecontent!=''">
    <div [innerHTML]="pagecontent"></div>
    <div style="position: absolute;text-align: center;bottom: 20%;width: 100%;"><button ion-button (click)="clocse()">关闭</button></div>
    <!-- <button ion-button (click)="recordingViod()">录播课</button> -->
</div>
<ion-content class="card-background-page">

    <!-- <ion-slides #mySlider style="width:100%;height:200px">
        <ion-slide  *ngFor="item of urlARR">
        <img [src]="" >
        </ion-slide>
        </ion-slides> -->
    <!-- <video width="320" height="240" controls>
            <source src="http://www.runoob.com/try/demo_source/mov_bbb.mp4"  type="video/mp4">
            您的浏览器不支持 HTML5 video 标签。
          </video> -->
    <ion-slides *ngIf="xplainindexData" #ionSlides loop="true" autoplay="3000" pager (ionSlideAutoplayStop)="autoPlay()" style="width:100%;height:140px">
        <ion-slide *ngFor="let slide of xplainindexData.content[0].children;let j = index;" (click)="tourl(j)">
            <img src="{{slide.piclink}}" />
            <!--<img src="assets/icon/viod3.jpg"/>-->
            <p></p>
        </ion-slide>


    </ion-slides>
    <div ion-row class="imgTabs" *ngIf="xplainindexData" style="border-bottom: solid #F5F4F4 15px;">
        <div ion-col (click)="recordingViod(i)" *ngFor="let item of xplainindexData.content[1].children;let i = index;" style="padding: 10px;">
            <img src="{{item.icon}}" style="height:45px" />
            <!-- <img src="assets/icon/icon02.png"/> -->
            <br>
            <strong>{{item.title}}</strong>
        </div>

    </div>
    <div style="text-align: center;font-weight: bolder;padding-top: 10px;">
        <strong>课程推荐</strong>
    </div>

    <div *ngIf="xplainindexData">
        <!-- <ion-card (click)="toOperationPage(item.id)" *ngFor="let item of xplainindexData.content[2].children">
            <img src="{{item.icon}}" />
            <div class="card-subtitle">{{item.description}}</div>
        </ion-card> 
         <div style="margin:20px 0 10px 0">
            <div style=" display:inline-block;  width: 40%;margin-left:20px;" (click)="toOperationPage(item.id)" *ngFor="let item of xplainindexData.content[2].children">
                <img src="{{item.icon}}" style="height:100px;    width: 145px;" />
            </div>
        </div> 
        <div style="margin:20px 0 10px 0">
            <div style=" display:inline-block;  width: 40%;margin-left:20px;">
                <img src="assets/icon/jiangti.jpg" style="height:100px;    width: 145px;" />

            </div>
            <div style=" display:inline-block;  width: 40%;;margin-left:25px;margin-right:20px">
                <img src="assets/icon/jiangti.jpg" style="height:100px;    width: 145px;" />

            </div>
        </div> -->
        <!-- <ion-card (click)="toOperationPage(item.id)" *ngFor="let item of xplainindexData.content[2].children">
            <img src="{{item.icon}}" />
            <div class="card-subtitle">{{item.description}}</div>
        </ion-card> -->
        <div style="margin:20px 0 10px 0">
                <div style="margin:20px 0 10px 0">
                        <div style=" display:inline-block;  width: 40%;margin-left:20px;" (click)="toOperationPage(item.id)" *ngFor="let item of xplainindexData.content[2].children">
                            <img src="{{item.icon}}" style="height:100px;    width: 145px;" />
                        </div>
                    </div> 
        </div>

    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载~" [ngClass]="{'display-none':displayValue}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- <ion-card (click)="toOperationPage(0)">
                <img src="assets/icon/viod3.jpg"/>
                <div class="card-title" style="color: #f00;font-weight: bolder;">正标题</div>
                <div class="card-subtitle"style="color: #f00;font-weight: bolder;">副标题</div>
              </ion-card>
              <ion-card (click)="toOperationPage(0)">
                  <img src="assets/icon/viod3.jpg"/>
                  <div class="card-title" style="color: #f00;font-weight: bolder;">正标题</div>
                  <div class="card-subtitle"style="color: #f00;font-weight: bolder;">副标题</div>
                </ion-card>
                <ion-card (click)="toOperationPage(0)">
                    <img src="assets/icon/viod3.jpg"/>
                    <div class="card-title" style="color: #f00;font-weight: bolder;">正标题</div>
                    <div class="card-subtitle"style="color: #f00;font-weight: bolder;">副标题</div>
                  </ion-card>
                  <ion-card (click)="toOperationPage(0)">
                      <img src="assets/icon/viod3.jpg"/>
                      <div class="card-title" style="color: #f00;font-weight: bolder;">正标题</div>
                      <div class="card-subtitle"style="color: #f00;font-weight: bolder;">副标题</div>
                    </ion-card>
                    <ion-card (click)="toOperationPage(0)">
                        <img src="assets/icon/viod3.jpg"/>
                        <div class="card-title" style="color: #f00;font-weight: bolder;">正标题</div>
                        <div class="card-subtitle"style="color: #f00;font-weight: bolder;">副标题</div>
                      </ion-card> -->

    <!-- <div class="imgTabs">
            <div class="imgbox">
                <img src="assets/icon/gouxiang.png"/>
                <br>
                <strong>直播课</strong>
            </div>
            <div class="imgbox">
                <img src="assets/icon/gouxiang.png"/>
                <br>
                <strong>录播课</strong>
            </div>
            <div class="imgbox">
                <img src="assets/icon/gouxiang.png"/>
                <br>
                <strong>考试指</strong>
            </div>
          </div> -->
    <!-- <button ion-button (click)="recordingViod()">录播课</button> -->
</ion-content>