page-about {
.imgTabs{
    text-align: center;
}
.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        width: 100%;
        color: #fff;
        position: absolute;
        bottom: 0;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.52);
        text-align: left;
        padding: 5px;
      }
    
    }
}
