page-mistake-detail {
  .selekuang {
    border: solid 1px #aeaeae;

    border-radius: 18px;
    position: relative;
    text-align: left;
    margin-top: 10px;
    button {
      width: 30px;
      height: 30px;

      background-color: #aeaeae;
      border-radius: 15px;
    }
  }
  .selecdiv {
    display: inline;
  }
}
