<!--
  Generated template for the MistakeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-row>
      <ion-col col-10></ion-col>
      <button (click)="add()"><img src="../../assets/icon/收藏.png" height="18" width="18"/></button></ion-row>


  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <label>{{subject}} {{test_number}}/4 </label>
  </ion-item>

  <ion-list inset *ngIf="test">
    <!--选择题-->
    <label ion-text *ngIf="test[test_number - 1].titleId == 1">
      （选择题） {{test[test_number - 1].titleBody}}<br>
      <br>
      <ion-list>
        <button ion-button round small outline block text-left (click)="nextPage()">
          {{test[test_number - 1].A}}
        </button>

        <button ion-button round small outline block (click)="nextPage()">
          {{test[test_number - 1].B}}
        </button>
        <button  ion-button round small outline block (click)="nextPage()">
          {{test[test_number - 1].C}}
        </button>
        <button ion-button="" round small outline block (click)="nextPage()">
          {{test[test_number - 1].D}}
        </button>
      </ion-list>
    </label>
    <!--填空题-->
    <label ion-text *ngIf="test[test_number - 1].titleId == 2">
      （填空题） {{test[test_number - 1].titleBody}}<br>
      <br>
      输入答案：<input ion-inupt style="border: solid 1px #aeaeae;height: 35px;border-radius: 10px;" color="danger" placeholder="请输入..." clearOnEdit="true">
    </label>
    <!--判断题-->
    <label ion-text *ngIf="test[test_number - 1].titleId == 3">
      （判断题） {{test[test_number - 1].titleBody}}<br>
      <br>
      <button ion-button="" round small outline block (click)="nextPage()">
        正确
      </button>
      <button ion-button="" round small outline block (click)="nextPage()">
        错误
      </button>
    </label>
    <!--解答题-->
    <label ion-text *ngIf="test[test_number - 1].titleId == 4">
      （解答题） {{test[test_number - 1].titleBody}}<br>
      <br>
      输入答案：<ion-textarea style="border: solid 1px #aeaeae;height: 350px;border-radius: 10px;"></ion-textarea>
    </label>
  </ion-list>
  <br>
  <br>
  <br>
  <br>
  <!--答案解析-->
  <ion-list no-lines>
    <ion-item *ngIf="test">
      正确答案: {{test[test_number - 1].answer}} <span item-right>你的答案: </span>
    </ion-item>
    <ion-item *ngIf="test">
      解析:{{test[test_number - 1].answer}}
    </ion-item>
    <ion-item>
      <button ion-button item-right (click)="leftSubject()">上一题</button>
      <button ion-button item-right (click)="nextSubject()">下一题</button>
    </ion-item>
  </ion-list>




</ion-content>
