page-watch-live {
    .header{

    }
    .content{
        .wrap{
            margin: 20px 0;
            background: #fff;
        }
        .discuss{
            background: #fff;
            .title{
                text-align: center;
                border-bottom: 1px solid #ccc;
                padding: 10px 0;
                font-size: 18px;
            }
            .discuss-content{
                padding: 10px 15px;
                text-indent: 2em;
            }
        }

    }
}