page-pageexam {
.swiper-pagination.swiper-pagination-clickable{
    display: none
}
.selekuang{
        border: solid 1px #aeaeae;
    /* height: 30px; */
    border-radius: 18px;
    position: relative;
    text-align: left;
    margin-top: 10px;
    button{
        width: 30px;
    height: 30px;
    background-color: #aeaeae;
    border-radius: 15px;
    }
}
.selekuang.panduan{
    font-size: 30px;
    width: 160px;
    margin: 10px;
    display: inline-block;
}
.selecdiv{
    display: inline-block;
}
.selectclass.selekuang{
    border: solid 1px #3BB5E9;
    // color: #3BB5E9;
    button{
        background-color: #3BB5E9;
        color: #fff;
    }
    ion-icon{
        color: #3BB5E9;
    }
}
.jieda{
    position: fixed;
    top: 46px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: #fff;
    padding: 15px;
    button{
            margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    }
    // button.weijieda{
    //     background-color: #3BB5E9;
    // }
    .yiweijieda{
        background-color: #3BB5E9;
    }
        .qitadaan{
        background-color: #2373cf;
    }
    .zhengque{
            background-color: rgba(17, 230, 55, 0);
            border: solid 1px #2373cf;
            background-color: #2373cf;
    }
    .cuowu{
        background-color: #F96067;
    }
    .biaoji{
        width: 25px;
        height: 25px;
        border-radius: 12px;
        padding: 5px;
    }
    .counttext{
        position: absolute;
    right: -40px;
    top: 5px;
    }
    .textbutton{
        width: 30px;
        height: 30px;
        background-color: rgba(174, 174, 174, 0);
        border-radius: 15px;
        position: absolute;
        /* font-size: 10px; */
        left: 0;
        left: -5px;
        z-index: 10;
        margin: 0;
        background-color: #fff;
    }
    .Bars {    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 30px;
        margin: 10px 0;
}
    .Bars div {     display: block;
    position: relative;
    color: #333333;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
}
    .Bars div span { position: absolute; width: 200px;
 /* 宽度 */ text-align: center; font-weight: bold; } 
}
.ion-ios-close-circle:before { content: "\f14e"; }
.ion-ios-checkmark-circle:before { content: "\f14a"; }
}
