<!--
  Generated template for the MistakeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <label>{{cname}} {{test_number}}/{{count}} </label>
  </ion-item>

  <ion-list inset *ngIf="test">
    <!--选择题-->
    <label ion-text *ngIf="test[test_number - 1].type == 1">
      （选择题){{test[test_number - 1].titleBody}}<br>
      <br>
      <ion-list>
        <button ion-button round small outline block [color]="selectCoA? 'secondary':'light'" (click)="choseanswer('A')">
          <span style="color: black">A.{{test[test_number - 1].A}}</span>
        </button>

        <button ion-button round small outline block [color]="selectCoB? 'secondary':'light'" (click)="choseanswer('B')">
          <span style="color: black">B.{{test[test_number - 1].B}}</span>
        </button>
        <button ion-button round small outline block [color]="selectCoC? 'secondary':'light'" (click)="choseanswer('C')">
          <span style="color: black">C.{{test[test_number - 1].C}}</span>
        </button>
        <button ion-button round small outline block [color]="selectCoD? 'secondary':'light'" (click)="choseanswer('D')">
          <span style="color: black">D.{{test[test_number - 1].D}}</span>
        </button>
      </ion-list>
    </label>
    <!--填空题-->
    <label ion-text *ngIf="test[test_number - 1].type == 2">
      （填空题){{test[test_number - 1].titleBody}}<br>
      <br>
      输入答案：<input ion-inupt style="border: solid 1px #aeaeae;height: 35px;border-radius: 10px;" [(ngModel)]="tiankong" color="danger" placeholder="请输入..." clearOnEdit="true">
    </label>
    <!--判断题-->
    <label ion-text *ngIf="test[test_number - 1].type == 3">
      （判断题){{test[test_number - 1].titleBody}}<br>
      <br>
      <button ion-button round small outline block [color]="pCoT? 'secondary':'light'" (click)="pAn('1')">
        <span style="color: black">正确</span>
      </button>
      <button ion-button round small outline block [color]="pCoF? 'secondary':'light'" (click)="pAn('0')">
        <span style="color: black">错误</span>
      </button>
    </label>
    <!--解答题-->
    <label ion-text *ngIf="test[test_number - 1].type == 4">
      （解答题） {{test[test_number - 1].titleBody}}<br>
      <br>
      输入答案：<ion-textarea style="border: solid 1px #aeaeae;height: 350px;border-radius: 10px;" [(ngModel)]="jieda"></ion-textarea>
    </label>
  </ion-list>
  <br>
  <br>
  <br>
  <br>

  <ion-list no-lines style="position: absolute; margin-bottom: 10%;margin-right: 10%">
    <ion-item>
      <button ion-button item-right (click)="leftSubject()">上一题</button>
      <button ion-button item-right (click)="nextSubject(test[test_number - 1].type,test[test_number - 1].titleId)">{{button}}</button>
    </ion-item>
  </ion-list>




</ion-content>
