// @import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
page-operation {
    .left_img {
        height: 65px;
    }
    .right_img1 {
        height: 20px !important;
        margin-left: 45px;
    }
    .right_img2 {
        height: 20px !important;
        margin-left: 20px;
    }
    .swiper-pagination-bullet-active {
        background: #4edff6;
        opacity: 1;
    }
    .jieda {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background-color: #fff;
        padding: 15px;
        button {
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }
        // button.weijieda{
        //     background-color: #4edff6;
        // }
        .yiweijieda {
            background-color: #4edff6;
        }
        .zhengque {
            background-color: #11E637;
        }
        .cuowu {
            background-color: #f00;
        }
        .biaoji {
            width: 25px;
            height: 25px;
            border-radius: 12px;
            padding: 5px;
        }
    }
    .xinxin {
        display: inline-block;
        font-size: 25px;
    }
    .xinxin.xuanzhong {
        color: #f00;
    }
    // .selctBOX{
    //     transform:rotate(90deg);
    //     -ms-transform:rotate(90deg); 	/* IE 9 */
    //     -moz-transform:rotate(90deg); 	/* Firefox */
    //     -webkit-transform:rotate(90deg); /* Safari å’Œ Chrome */
    //     -o-transform:rotate(90deg); 
    // }
    .zuoti {
        .title {
            position: absolute;
            left: 0;
            top: 15px;
            span {
                position: absolute;
                right: 25px;
                top: 5px;
                font-size: 15px;
                color: #000;
            }
        }
        .content {
            border: solid 1px #3BB5E9;
            background-color: #fff;
            color: #000;
            margin: 20px;
            padding: 10px;
        }
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        color: #FFF;
        padding-top: 15%;
        .answer {}
    }
    .yuanquan {
        width: 20px;
        height: 20px;
        background-color: #30c1fe;
        border-radius: 20px;
        margin: 10px;
    }
    .selekuang {
        border: solid 1px #aeaeae;
        /* height: 30px; */
        border-radius: 18px;
        position: relative;
        text-align: left;
        margin-top: 10px;
        button {
            width: 30px;
            height: 30px;
            background-color: #aeaeae;
            border-radius: 15px;
        }
        .selecdiv {
            display: inline-block;
        }
    }
    .righticon {
        line-height: 40px;
        text-align: center;
        color: #306ed0;
        font-weight: bold;
        div {
            display: inline-block;
            margin-left: -20px;
            img {
                width: 25px;
            }
        }
        .ionicbotton {
            img {
                width: 20px;
                margin-top: 10px;
            }
            background-color: rgba(81, 126, 140, 0.47);
            margin: 5px;
        }
    }
    .selectclass.selekuang {
        border: solid 1px #4edff6;
        color: #4edff6;
        button {
            background-color: #4edff6;
            color: #fff
        }
    }
    .yiweijieda {
        background-color: #4edff6;
    }
    .zhengque {
        background-color: #11E637;
    }
    .cuowu {
        background-color: #f00;
    }
    .yuanquan.selectclass {
        background-color: #ff0;
    }
}