<!--
  Generated template for the OperationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style=" margin-bottom: 10px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
        <ion-title>视频/做题</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding style="width:100%;    background-color: #F5F4F4;" >
    <div>
        <ion-segment [(ngModel)]="selectnum" style="width:100%" style="    background-color: #fff;">
            <ion-segment-button value="0">
                视频学习
            </ion-segment-button>
            <ion-segment-button value="1">
                知识小结
            </ion-segment-button>
            <ion-segment-button value="2">
                同步练习
            </ion-segment-button>
            <ion-segment-button value="3">
                用户评论
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="selectnum">
            <div *ngSwitchCase="'0'">
                <br>
                <br>
                <video #myVideo width="100%" controls>
                          <source *ngIf='shipingshuju' src="{{shipingshuju.PlayInfoList.PlayInfo[0].PlayURL}}" type="video/mp4">
                        </video>
                <!--<ion-icon name="star"></ion-icon>-->
                <div>
                    <p>评价</p>
                    <textarea style="    border: solid 1px #b6b6b6;
                    height: 180px;
                    resize: none;
                    width: 100%;" [(ngModel)]="pingjianeirong" rows="10" cols="35"></textarea>
                </div>

                <!-- <ion-textarea style="border: solid 1px #18D62F;height: 100px;"></ion-textarea> -->

                <div style="text-align: center;">
                    <button (click)="tapelessionpushcomment()" ion-button style="width: 100px;background-color:#3BB5E9">提交</button>

                    <!-- <button (click)="pingmuclick()" ion-button style="width: 100px;">横屏幕</button>
                          <button (click)="shuclick()" ion-button style="width: 100px;">竖屏幕</button>
                          <button (click)="jiesuoclick()" ion-button style="width: 100px;">解锁屏幕</button>
                          <button (click)="kavoid()" ion-button style="width: 100px;">kavoid</button> -->
                </div>
                <!-- <h2>评论</h2> -->
                <!--<video #myVideo2 width="100%" controls>
                          <source src="http://1q83780s92.51mypc.cn/video/gainian.mp4" type="video/mp4">
                        </video>
                                    <h2>2.2函数的表示方法</h2>
                        <video #myVideo3 width="100%" controls>
                          <source src="http://1q83780s92.51mypc.cn/video/fangfa.mp4" type="video/mp4">
                        </video>-->
                <!-- <button ion-button (click)="stopViod()">触发/做题</button>
                        <button ion-button (click)="playViod()">开始</button> -->

            </div>
            <div *ngSwitchCase="'1'">
                <!-- <p>知识小结：</p> -->
                <!-- <p>{{shipingxiangqing.lession.summary}}</p> -->
                <div [innerHTML]="shipingxiangqing.lession.summary">

                </div>
            </div>
            <div *ngSwitchCase="'2'">
                <!-- <p>同步练习:</p> -->
                <ion-slides #ionSlides *ngIf="shipinglianxi" autoplay="false" loop="false" (ionSlideDidChange)="ionSlideDidChange()" pager style="width:100%;height:auto;    margin-top: 15px;">
                    <ion-slide *ngFor="let item of shipinglianxi;let i=index">
                        <div *ngIf="item.type==1">
                            <!--<h1>单选题</h1>
                                题目：
                                <br>-->
                            <!--{{shipinglianxi[i].title}}?-->
                            <div style="text-align: left;    margin-top: 40px;
                                    margin-bottom: 25px;" [innerHTML]="shipinglianxi[i].title"></div>
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='A'}" (click)="selectclick(i,'A')">

                                <button>A</button>
                                <div [innerHTML]="shipinglianxi[i].content.A" class="selecdiv"></div>
                                <!--<span style="margin-left: 20px;">{{shipinglianxi[i].content.A}}</span>-->
                            </div>
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='B'}" (click)="selectclick(i,'B')">

                                <button>B</button>
                                <div [innerHTML]="shipinglianxi[i].content.B" class="selecdiv"></div>
                                <!--<span style="margin-left: 20px;">{{shipinglianxi[i].content.B}} </span>-->
                            </div>
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='C'}" (click)="selectclick(i,'C')" *ngIf='shipinglianxi[i].content.C'>

                                <button>C</button>
                                <div [innerHTML]="shipinglianxi[i].content.C" class="selecdiv"></div>
                                <!--<span style="margin-left: 20px;">{{shipinglianxi[i].content.C}} </span>-->
                            </div>
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='D'}" (click)="selectclick(i,'D')" *ngIf='shipinglianxi[i].content.D'>
                                <button>D</button>
                                <div [innerHTML]="shipinglianxi[i].content.D" class="selecdiv"></div>
                                <!--<span style="margin-left: 20px;">{{shipinglianxi[i].content.D}} </span>-->
                            </div>

                            <!--<div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='A'}"(click)="selectclick(i,'A')"><button>A</button>{{shipinglianxi[i].content.A}}</div>
                                 <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='B'}"(click)="selectclick(i,'B')"><button>B</button>{{shipinglianxi[i].content.B}}</div>
                                 <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='C'}"(click)="selectclick(i,'C')" ><button>C</button>{{shipinglianxi[i].content.C}}</div>
                                 <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='D'}"(click)="selectclick(i,'D')" ><button>D</button>{{shipinglianxi[i].content.D}}</div>-->
                            <!-- <span *ngIf="shipinglianxi[i].showanswer">答案：{{shipinglianxi[i].answer}}</span> -->
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;">答案:</div>
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;" [innerHTML]="shipinglianxi[i].answer"></div>
                            <br>
                        </div>
                        <div *ngIf="item.type==2">
                            <h1>填空题</h1>
                            <br> {{shipinglianxi[i].titleBody}}?
                            <br> 输入答案：
                            <ion-input style="border: solid 1px #aeaeae;height: 35px;border-radius: 10px;" color="danger" placeholder="请输入..." clearOnEdit="true" [(ngModel)]='shipinglianxi[i].useranswer' (ionInput)="tiankong()"></ion-input>
                            <br>
                            <!-- <span *ngIf="shipinglianxi[i].showanswer">答案：{{shipinglianxi[i].answer}}</span> -->
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;">答案:</div>
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;" [innerHTML]="shipinglianxi[i].answer"></div>
                        </div>
                        <div *ngIf="item.type==4">
                            <h1>判断题</h1>
                            <br> {{shipinglianxi[i].titleBody}}?
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='1'}" (click)="selectclick(i,'1')">
                                <img style="width: 25px;margin-bottom: -5px;" src="assets/icon/dui.png" /> 正确
                            </div>
                            <div class="selekuang" [ngClass]="{'selectclass':shipinglianxi[i].useranswer=='0'}" (click)="selectclick(i,'0')">
                                <img style="width: 25px;margin-bottom: -5px;" src="assets/icon/cuo.png" /> 错误
                            </div>
                            <br>
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;">答案:</div>
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;" [innerHTML]="shipinglianxi[i].answer"></div>
                            <!-- <span *ngIf="shipinglianxi[i].showanswer">答案：{{shipinglianxi[i].answer}}</span> -->
                        </div>
                        <div *ngIf="item.type==3">
                            <h1>解答题</h1>
                            <br> {{shipinglianxi[i].titleBody}}?
                            <br> 输入答案：
                            <textarea style="border: solid 1px #aeaeae;height: 350px;border-radius: 10px;" [(ngModel)]="shipinglianxi[i].useranswer"></textarea>
                            <!-- <textarea style="border: solid 1px #aeaeae;height: 350px;border-radius: 10px;" [(ngModel)]='shipinglianxi[i].useranswer' (ionInput)="jieda(i)"></extarea> -->
                            <br>
                            <!-- <span *ngIf="shipinglianxi[i].showanswer">答案：{{shipinglianxi[i].answer}}</span> -->
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;">答案:</div>
                            <div *ngIf="shipinglianxi[i].showanswer" style="text-align: left;margin-left: 20px;" [innerHTML]="shipinglianxi[i].answer"></div>
                        </div>
                        <!--<button ion-button (click)="shangSubject(i)">
                                上一题
                              </button>
                              <button  ion-button (click)="nextSubject(i)">
                                下一题
                              </button>-->
                        <!-- <button *ngIf="i==4" ion-button (click)="tijiaoSubject()" style="margin-bottom: 15%;;background-color: #4edff6 !important; width: calc( 100% / 2 );height:25px;">
                                提交 
                              </button> -->
                              
                        
                    </ion-slide>

                </ion-slides>
                <button *ngIf="subjecjieguo" style="width: 100px;
                background-color: #3BB5E9;
                position: fixed;
                bottom: 15px;
                right: 15px;" (click)="showpop()" ion-button>显示</button>
                <button *ngIf="currentIndex==shipinglianxi.length-1&&!subjecjieguo" (click)="tijiaoSubject()" ion-button style="width: 100px;
                background-color: #3BB5E9;
                position: fixed;
                bottom: 15px;
                right: 15px;">提交</button>
            </div>
            <div *ngSwitchCase="'3'" style="width:100%">
                <div style="background-color: #F5F4F4;margin-top: 15px;">
                    <!--此处为用户评论-->
                    <ion-list no-border no-lines>
                        <div *ngFor="let items of pinglunAr;let j=index" style="    height: 150px;    background-color: white;
                                margin-bottom: 5px;">
                            <!-- <div style="display:inline-block">
                                
                            </div>

                            <div style="display:inline-block;margin-top: 10px; margin-left: 15px;    width: 70%;">
                                <span>{{items.sname}}</span>
                                <img src="assets/icon/zan.png" (click)="pinglun(j,1)" class="right_img1" /> {{items.top}}
                                <img src="assets/icon/cai.png" (click)="pinglun(j,2)" class="right_img2" /> {{items.step}}
                                <p>{{items.created_at}}</p>
                                <p>{{items.detail}}</p>

                            </div> -->
                            <ion-row>
                                <ion-col col-2>
                                    <img src="assets/icon/gouxiang.png" class="left_img">
                                </ion-col>
                                <ion-col col-8>
                                    <span>{{items.sname}}</span>
                                    <img src="assets/icon/zan.png" (click)="pinglun(j,1)" class="right_img1" /> {{items.top}}
                                    <img src="assets/icon/cai.png" (click)="pinglun(j,2)" class="right_img2" /> {{items.step}}
                                    <p>{{items.created_at}}</p>
                                    <p style="overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;">{{items.detail}}</p>
                                </ion-col>
                              </ion-row>
                            <!-- <strong>{{items.score}}/分</strong> -->

                            <!-- <div class="ionictop">
                
                                        </div>
                                        <div class="ionicbotton">
                                            
                
                                        </div> -->

                        </div>
                    </ion-list>
                </div>

            </div>
        </div>
    </div>

    <!--<div *ngIf="selectnum==0" class="selctBOX video">
        <p>视频播放</p>

      </div>
      <div *ngIf="selectnum==1" class="selctBOX operationcount">
          <p>做题</p>
      
        </div>-->
</ion-content>
<div class="jieda" *ngIf="daantanchuang">
    <div style="padding: 15px;    margin-bottom: 10px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
            <ion-icon name="md-arrow-back" style="font-size: 1.7rem;padding: 0px 15px;" (click)="hidejieda();selectnum='0'"></ion-icon>
        <strong style="    padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;">每道题正确率</strong>
    </div>
    <div style="padding: 15px;">
            <div style="text-align: center;height: 40px;line-height: 40px;">
                    <div class="biaoji zhengque"></div><strong>正确</strong>
                    <div class="biaoji cuowu"></div><strong>错误</strong>
                    <div class="biaoji weijieda"></div><strong>未做</strong>
                    <!-- <br>
                    <br> 已完成：{{yiwanc}} 未完成：{{weiwanc}}</div> -->
                <!-- <button *ngFor="let items of shipinglianxi;let j=index" (click)="tozuotijieshi(j)" [ngClass]="{'weijieda':shipinglianxi[j].jieguo==0,'yiweijieda':shipinglianxi[j].jieguo==1,'zhengque':shipinglianxi[j].jieguo==2,'cuowu':shipinglianxi[j].jieguo==3}">{{j+1}}</button> -->
                <ion-row>
                    <ion-col col-3 *ngFor="let items of shipinglianxi;let j=index" (click)="tozuotijieshi(j)">
                        <button [ngClass]="{'weijieda':shipinglianxi[j].jieguo==0,'yiweijieda':shipinglianxi[j].jieguo==1,'zhengque':shipinglianxi[j].jieguo==2,'cuowu':shipinglianxi[j].jieguo==3}">{{j+1}}</button>
                    </ion-col>
                </ion-row>
                <div padding-vertical>
                    <canvas #chartBar height="200"></canvas>
                </div>
                <br/>
            </div>

    </div>
</div>
<div class="zuoti" *ngIf="beginzuoti">
    <div class="title">
        <span>洛必达法则练习题</span>
        <img src="assets/icon/title.png" />
    </div>
    <div class="content">题目:
        <br>
        <div [innerHTML]="pointexamData[zuotinum].title"></div>
        <!--{{pointexamData[zuotinum].title}}</div>-->
        <div class="answer">
            <ion-row>
                <ion-col col-6 (click)="daanclick('A')">
                    <button class="yuanquan" [ngClass]="{'selectclass': pointexamData[zuotinum].useranswer=='A'}">A</button>
                    <div [innerHTML]="pointexamData[zuotinum].content.A"></div>
                    <!-- <span>{{pointexamData[zuotinum].content.A}}</span> -->
                </ion-col>
                <ion-col col-6 (click)="daanclick('B')">
                    <button class="yuanquan" [ngClass]="{'selectclass': pointexamData[zuotinum].useranswer=='B'}">B</button>
                    <div [innerHTML]="pointexamData[zuotinum].content.B"></div>
                    <!-- <span>{{pointexamData[zuotinum].content.B}}</span> -->
                </ion-col>
                <ion-col col-6 (click)="daanclick('C')" *ngIf='pointexamData[zuotinum].content.C'>
                    <button class="yuanquan" [ngClass]="{'selectclass': pointexamData[zuotinum].useranswer=='C'}">C</button>
                    <div [innerHTML]="pointexamData[zuotinum].content.C"></div>
                    <!-- <span>{{pointexamData[zuotinum].content.C}}</span> -->
                </ion-col>
                <ion-col col-6 (click)="daanclick('D')" *ngIf='pointexamData[zuotinum].content.D'>
                    <button class="yuanquan" [ngClass]="{'selectclass': pointexamData[zuotinum].useranswer=='D'}">D</button>
                    <div [innerHTML]="pointexamData[zuotinum].content.D"></div>
                    <!-- <span>{{pointexamData[zuotinum].content.D}}</span> -->
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="pointexamData[zuotinum].useranswer!=''">
            正确答案：{{pointexamData[zuotinum].answer}}
            <br/>
            <div style="text-align: left;margin-left: 20px;">问题解析:</div>

            <div style="text-align: left;margin-left: 20px;" [innerHTML]="pointexamData[zuotinum].analysis"></div>

            <br/>
            <button ion-button *ngIf='pointexamDataendTag!=zuotinum' (click)="xiayiti()">下一题</button>
        </div>
        <button ion-button (click)="playViod()" *ngIf='pointexamDataendTag==zuotinum'>继续视频</button>
    </div>
</div>