
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  *ngIf="item">
  <ion-list>
    <ion-item > {{item.cname}}  <span item-right>练习时间:</span></ion-item>
    <ion-item>正确:{{correct}}/{{count}} <span item-right>{{t}}</span></ion-item>
  </ion-list>

    <button *ngFor="let test of data;let i = index" ion-button outline round  [color]="(test.answer == an) ? '':'danger'"
            (click)="itemSelected(item.id,i + 1,item.cname)">{{i + 1}}</button>

</ion-content>
