
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="item">
    <ion-item > {{item.cname}}  <span item-right>练习时间:</span></ion-item>
    <ion-item>正确 3/4<span item-right *ngIf="time">{{time | date:'yyyy:MM:dd HH:mm:ss' }}</span></ion-item>
  </ion-list>
  <ion-row>
    <button *ngFor="let test of tests" ion-button large round [color]="test.right ? '':'danger'"
            (click)="itemSelected(item,test.id)">{{test.id}}</button>
  </ion-row>
</ion-content>
