// http://ionicframework.com/docs/theming/
// 用来设置全局变量的CSS
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tab1 {
    background: no-repeat url('assets/icon/icon/content/精讲.png');
}

.cssClass {
    .toast-message {
        background-color: #333;
        color: #fff;
        border-radius: 10px;
    }
}

@font-face {
    font-family: 'iconfont';
    src: url('../assets/icon/icon/精讲.png');
    src: url('../assets/icon/icon/精讲.eot?#iefix') format('embedded-opentype'), url('../assets/icon/icon/精讲.woff') format('woff'), url('../assets/icon/icon/精讲.ttf') format('truetype'), url('../assets/icon/icon/精讲.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.ion-qq:before {
    content: '\e601'
}